{{ define "content" }}
<section id="recent">
  <div class="page-header">
    <h1>Tested Packages</h1>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table">
        <thead>
          <th>Project</th>
          <th>Latest Revision Date</th>
          <th>Status</th>
        </thead>
        {{ range . }}
        <tr>
          <td><a href="http://godoc.org/{{.ImportPath}}">{{.ImportPath}}</a></td>
          <td><span class="date">{{ .Value.When.Format "Jan 2, 2006 3:04:05 PM" }}</span></td>
          <td><a href="/result/{{.ImportPath}}">{{.Value.Status}}</a></td>
        </tr>
        {{ end }}
      </table>
    </div>
  </div>
</section>
{{ end }}
