<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GoCI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/static/css/bootstrap-simplex.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
  </head>
  <body data-offset="50">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">GoCI</a>
          <div class="nav-collapse" id="main-menu">
            <ul class="nav" id="main-menu-left">
              <li><a href="/pkg">Packages</a></li>
              <li><a href="/result">Results</a></li>
              <li><a href="/work">Work</a></li>
              <li><a href="/how">How</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      {{ template "content" . }}
    </div><!-- /container -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
