<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% .Meta.BaseTitle %}{% if .Meta.Title %} - {% .Meta.Title %}{% end %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if .Meta.SubNav %}
      {% template "nav_padding" 126 %}
    {% else %}
      {% template "nav_padding" 90 %}
    {% end %}

    {% template "css" .Meta.CSS %}
    {% template "js" .Meta.JS %}
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <span class="brand" style="float: right">Status: <span id="status">{% .State %}</span></span>
          <div class="nav-collapse">
            <ul class="nav">
              {% template "nav" . %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<div class="container-fluid">
  <div class="row-fluid">
    <div id="sidebar" class="span3">
    </div><!--/span-->

    <div id="content" class="span9">
      {% template "sub_nav" . %}
      {% template "content" .Tmpl %}
    </div><!--/span-->
    <a href="#" class="toggles"><i class="icon-chevron-left"></i></a>
  </div><!--/row-->
</div><!--/.fluid-container-->​

  </body>
</html>