{{ define "content" }}
<section id="work_item">
  <div class="row show-grid">
    <div class="span12"><span><strong>Server Name </strong>foo</span></div>
  </div>
  <div class="row show-grid">
    <div class="span3"><span><strong>Execution Time </strong>bar</span></div>
    <div class="span9"><span><strong>URI </strong>bar</span></div>
  </div>
  <div class="row show-grid">
    <div class="span3"><span><strong>Memory Usage </strong>bar</span></div>
    <div class="span9"><span><strong>Referer </strong>bar</span></div>
  </div>
 </div>
</section>
{{ end }}
